@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}


body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader {
  border: 10px solid #ebe8e8; /* Light grey */
  border-top: 10px solid #61a8ff; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 3s linear infinite;
  margin-top: 5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}